extends layout

block main-content
  .page-title-container
    h1.page-title Pledge More Crypto
    h1.page-subtitle Expand your collateral with additional cryptocurrencies

  .crypto-form
    p Please add Crypto symbols only like BTC, BCH, ETH, etc.
    form.form-container(method="post", action="/addcrypto/addCryptoItem/submit")
      .form-group
        label(for="cryptoName") Crypto Name:
        input.form-control(type="text", name="cryptoName", id="cryptoName", required)
      .form-group
        label(for="cryptoQty") Quantity:
        input.form-control(type="number", name="cryptoQty", id="cryptoQty", required)
      .form-group
        button.btn.btn-primary(type="submit") Pledge Crypto
