extends layout 

    
block main-content 
    h1 #{title}

    
    table
      tr
        th Stock Name
        th Stock Symbol
      each stock in top50StocksArray
        tr
          td= stock.name
          td= stock.symbol